:root{
    --text-color: rgb(0,235,0);
}

div {
    text-align: center; /* Căn chữ ở giữa */
    margin: 0 auto;
    width: 60%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    margin: 0 auto; /* Căn table ở giữa */
}

tr.green{
    background-color: var(--text-color);
}

th{
    padding: 10px;
}

th.col1{
    padding: 10px 10px;
}




